<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">             
            <div class="col-lg-5 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">O Zafusowanych</h2>
                    <p>Bariści z pasją, chcący szerzyć swoje wieloletnie doświadczenie. Specjalnie wyselekcjonowane ziarna od starannie dobranych dostawców, autorska metoda wypalania.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>    
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Usługi</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Shop" asp-action="Index">Sklep</a></li>
                        <li><a @Html.ActionLink("Szkolenia", "Index","Training")</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Masz pytania?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Ulicowa 12, Miastowe, Polska</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+48 987 123 765</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">biuro@zafusowani.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Created by Aleksandra Białek for WSB-NLU-PIAB /a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>