<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - CoffeeShop.Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/css/animate.css">
    <link rel="stylesheet" href="~/lib/images">

    <link rel="stylesheet" href="~/lib/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/lib/css/magnific-popup.css">

    <link rel="stylesheet" href="~/lib/css/aos.css">

    <link rel="stylesheet" href="~/lib/css/ionicons.min.css">

    <link rel="stylesheet" href="~/lib/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/lib/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/lib/css/flaticon.css">
    <link rel="stylesheet" href="~/lib/css/icomoon.css">
    <link rel="stylesheet" href="~/lib/css/style.css">
</head>
<body>
    <!-- START NavBar -->
    <partial name="_NavBar" />
    <!-- END NavBar -->
   @* <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(~/wwwroot/lib/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Order Online</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>*@
    <section class="ftco-menu mb-5 pb-5">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            @await Component.InvokeAsync("TypeMenuComponent")
                        </div>
                       

                        <div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        @*  @await Html.PartialAsync("TrainingView", (IEnumerable<CoffeeShop.Database.Data.CMS.Training>) ViewBag.ModelTrainings) *@
    </div>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <!-- START Footer -->
    <partial name="_Footer" />
    <!-- END Footer -->
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery.easing.1.3.js"></script>
    <script src="~/lib/js/jquery.waypoints.min.js"></script>
    <script src="~/lib/js/jquery.stellar.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/js/aos.js"></script>
    <script src="~/lib/js/jquery.animateNumber.min.js"></script>
    <script src="~/lib/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/js/jquery.timepicker.min.js"></script>
    <script src="~/lib/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/lib/js/google-map.js"></script>
    <script src="~/lib/js/main.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>