@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Order Online</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
                </div>

            </div>
        </div>
    </div>
</section>



                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="menu-entry">
                                            <a href="#" class="img" style="background-image: url(images/menu-1.jpg);"></a>
                                            <div class="text text-center pt-4">
                                                <h3><a href="product-single.html">Coffee Capuccino</a></h3>
                                                <p>A small river named Duden flows by their place and supplies</p>
                                                <p class="price"><span>$5.90</span></p>
                                                <p><a href="cart.html" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="menu-entry">
                                            <a href="#" class="img" style="background-image: url(images/menu-2.jpg);"></a>
                                            <div class="text text-center pt-4">
                                                <h3><a href="product-single.html">Coffee Capuccino</a></h3>
                                                <p>A small river named Duden flows by their place and supplies</p>
                                                <p class="price"><span>$5.90</span></p>
                                                <p><a href="cart.html" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="menu-entry">
                                            <a href="#" class="img" style="background-image: url(images/menu-3.jpg);"></a>
                                            <div class="text text-center pt-4">
                                                <h3><a href="product-single.html">Coffee Capuccino</a></h3>
                                                <p>A small river named Duden flows by their place and supplies</p>
                                                <p class="price"><span>$5.90</span></p>
                                                <p><a href="cart.html" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="menu-entry">
                                            <a href="#" class="img" style="background-image: url(images/menu-4.jpg);"></a>
                                            <div class="text text-center pt-4">
                                                <h3><a href="product-single.html">Coffee Capuccino</a></h3>
                                                <p>A small river named Duden flows by their place and supplies</p>
                                                <p class="price"><span>$5.90</span></p>
                                                <p><a href="cart.html" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               

