@model CoffeeShop.Database.Data.CMS.Training

@{
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
    ViewData["Title"] = "Delete";
}
<div style="padding: 20px">
<h1>Usuwanie</h1>

<h3>Jesteś pewien, że chcesz usunąć to szkolenie?</h3>
<div>
    <h4>Nazwa szkolenia:</h4>
    <h4>@Html.DisplayFor(model => model.TrainingName)</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTraining" />
        <input type="submit" value="Usuń" class="mdc-button mdc-button--outlined outlined-button--secondary mdc-ripple-upgraded" /> |
        <a asp-action="Index" class="mdc-button mdc-button--outlined outlined-button--dark mdc-ripple-upgraded">Powrót do listy</a>
    </form>
</div>
</div>
