@model CoffeeShop.Database.Data.CMS.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
}
<div style ="padding: 20px;">
<h1>Usuwanie</h1>

<h3>Jesteś pewien, że chcesz usunąć tą stronę?</h3>
<div>
    <h4>Nazwa strony:</h4>
    <h4>@Html.DisplayFor(model => model.LinkTitle)</h4>
    <h4>@Html.DisplayFor(model => model.PageTitle)</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPage" />
        <input type="submit" value="Usuń" class="mdc-button mdc-button--outlined outlined-button--secondary mdc-ripple-upgraded" /> |
        <a asp-action="Index" class="mdc-button mdc-button--outlined outlined-button--dark mdc-ripple-upgraded">Powrót do listy</a>
    </form>
</div>
</div>
